/*********ESTRUTURA BASE DO SITE**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: #FEC40B url(../img/corpo-casa/fundo_telhado.png) no-repeat center top;
    ;
}

a {
    text-decoration: none;
    color: black;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-INDEX.HTML-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

#container {
    width: 60%;
    margin: 0 auto;
    min-width: 650px;
    max-width: 1280px;
}


/*=================INICIO DO CABEÇALHO===================*/

header {
    margin-bottom: 0px;
    height: 47px;
}


/*-------------LOGO-------------*/


/*------BARRA DE NAVEGAÇÃO------*/

nav {
    width: 100%;
    text-align: center;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
    width: 100%;
    height: 100%;
    border: 2.5px solid white;
    border-radius: 30px
}

nav ul li {
    width: 16.666666667%;
}

nav ul li a {
    display: block;
    line-height: 2.6em;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    background: rgb(0, 0, 0, 0.8);
    border-left: 1.5px solid #fff;
}

.ponta-esquerda {
    border-left: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.ponta-direita {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


/*----HOOVER CHANGES----*/

nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.7);
    color: #fff;
    box-shadow: inset 0 0 1em gold;
}


/*=================INICIO DO CONTEUDO===================*/

#conteudo {
    margin: 20px auto;
    width: 96%;
}


/*-------------------------corpo da casa---------------------------*/

#telhado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0px 70px 0px;
    min-height: 400px;
}

#telhado img {
    margin-top: 100px;
}

#corpo {
    padding: 20px 30px 20px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border-radius: 80px;
    border: 2px solid #FFD700;
    background: rgb(0, 0, 0, 0.7);
}

#base {
    min-height: 400px;
}


/*---------------------ANDARES----------------------*/

.andar {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-bottom: 1px solid rgb(255, 215, 215, 0.5);
}

.sem-separacao {
    border-bottom: none;
}

.reverse {
    flex-direction: row-reverse;
}


/*------------------Lados----------------------*/

.andar-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.andar-direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}


/*---------quadros da casa---------*/

.quadro-blog {
    display: inherit;
    width: 100%;
    height: 100%;
}

.quadro-cursos {
    display: inherit;
    width: 100%;
    height: 100%;
}

.quadro-loja {
    display: inherit;
    width: 100%;
    height: 100%;
}


/*------postagem&&blog------*/

.quadro-blog a {
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    height: auto;
    border-radius: 30px;
    background: rgb(255, 215, 0, 0.9);
}

.quadro-blog a:hover {
    background: #FFEFD5;
    box-shadow: 0 0 1em gold;
}

.img-home-blog {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.titulo-home-blog {
    margin: 10px auto 5px auto;
    width: 100%;
    height: auto;
    text-align: center;
}

.paragrafo-home-blog {
    padding: 20px;
    width: 100%;
    height: auto;
    background: rgb(215, 215, 215, 0.5);
    color: black;
    font-size: 0.7rem;
    border-radius: 20px;
    text-align: justify;
}


/*------postagem&&cursos------*/

.quadro-cursos a {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 215, 0, 0.8);
}

.quadro-cursos a:hover {
    background: #FFEFD5;
    box-shadow: 0 0 1em gold;
}

.titulo-home-cursos {
    width: 100%;
    text-align: center;
}

.paragrafo-home-cursos {
    padding: 10px;
    text-align: justify;
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: rgb(215, 215, 215, 0.5);
}


/*------postagem&&loja------*/

.quadro-loja a {
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 215, 0, 0.8);
}

.quadro-loja a:hover {
    background: #FFEFD5;
    box-shadow: 0 0 1em gold;
}

.img-home-loja {
    margin: 0px auto;
    width: 80%;
    height: auto;
    border: 1px solid black;
}

.titulo-home-loja {
    width: 100%;
    text-align: center;
}

.paragrafo-home-loja {
    padding: 10px 15px;
    text-align: justify;
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: rgb(215, 215, 215, 0.5);
}


/*=================INICIO DO RODAPÉ===================*/

footer {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 50px;
    background: rgb(0, 0, 0, 0.9);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    text-align: center;
}

footer span {
    color: #fff;
    margin-top: 12px;
    display: block;
    line-height: 2.6em;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-BLOG.HTML-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

#telhado-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
    margin: 100px 0px 70px 0px;
    min-height: 380px;
    border: 2px solid black;
    border-radius: 80px;
    background: rgb(0, 0, 0, 0.7);
}

#telhado-blog a {
    padding: 20px;
    margin-bottom: 5px;
    width: 200px;
    height: 50%;
    background: rgb(198, 78, 0, 0.8);
    text-align: center;
    line-height: 2.6em;
    border-radius: 40px;
}